[user]
	name = yotamazriel
	email = yotam@tensorleap.ai
[diff]
	tool = nvim -d
  colorMoved = default
[merge]
	tool = nvim -d
[difftool]
	prompt = false
[core]
	editor = nvim
	excludesfile = /Users/yotamazriel/.dotfiles/.gitignore
[include]
	path = ~/.dotfiles/.gitconfig.local
[push]
	default = simple
[rebase]
	autosquash = true
[advice]
	detachedhead = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta
[delta]
    features = line-numbers decorations
    syntax-theme = Dracula
    plus-style = syntax "#003800"
    minus-style = syntax "#3f0001"
[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
    hunk-header-decoration-style = cyan box ul
[delta "line-numbers"]
    line-numbers-left-style = cyan
    line-numbers-right-style = cyan
    line-numbers-minus-style = 124
    line-numbers-plus-style = 28
[interactive]
    diffFilter = delta --color-only

